[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth-oauthlib = "*"
google-cloud-vision = "*"
google-cloud = "*"
google-cloud-bigquery = "*"
snap = "*"
google = "*"
cd = "*"

[dev-packages]

[requires]
python_version = "3.9"
